
$font-nunito:'Open Sans', sans-serif;
$color:#000;
$color1:#333;
$primary-web:#d64226;
$yellow-color:#ffb900;
$secondary-web:#eb8012;
$line-color:#184655;
$color-dark-grey:#434142;
$yellow-color-1:#ffcd26;
$orange-color:#ed8012;
$orange-color-1:#f6921e;
$orange-color-2:#D44327;

//font

$font-medium:600;
