
// @include media-breakpoint-up(sm) {
//   .mob-nav{display:none;}
// }

@include media-breakpoint-down(sm) {
    html{font-size:12px;}
    .navbar.main-navbar{padding:0 size(30);}
    .banner-sec{min-height:auto}
    .shape-fix{display: none;}
    .container-inner{padding:0 size(30) 0 0}
    .inner-pg-content{padding:size(80) 0 size(0) 0;
        .about-right-img{height:size(140);
            .bottm-shape{display:none;}
            .about-girl-bg{position: absolute;right:size(-60);top:size(-50);max-width:size(75);}
            .abt_footer_mob{display: block;}
        }
    }
    .back-btn{display:inline-block;}
    .faq-pg{
        .inner-pg-hed{
            .heading-1{font-size: size(18);}
        }
    }
    .inner-pg-hed{position:fixed;z-index:1032;top:0;left:0;width:100%;background:$white;/*box-shadow:0 0 size(5) rgba(0,0,0,0.2);*/padding:size(18);text-align:center;margin:0;
        .heading-1{font-size: size(18);margin:0;}
    }
    .inner-pg-left-bg{display:none;}
    .inner-pg-rgt-bg{
        .inner-bg-rgt-1{display:none;}
        .inner-bg-rgt-2{display:none;}
    }
    .abt-left-mob-icon-1{display:block;}
    .abt-left-mob-icon-2{display:block;}
    .abt-rgt-mob-icon-1{display:block;}
    .abt-rgt-mob-icon-2{display:block;}
    .abt-btm-mob-icon-1{display:inline-block;}

    .do-donot-sec{margin: 0;
        .col-bg-do{border:0;padding:size(10) size(10);}
        .do-list{
            & > li{
               &:before{width:size(6);height:size(6);background:$yellow-color-1;}
            }
        }
        .hed-title{background:transparent;color:$yellow-color-1;padding:0;font-weight:$font-weight-bold;text-transform: uppercase;height:auto;width:auto;position: static;}
        .col-bg-donot{border:0;padding:size(30) size(10);
            .hed-title{background:transparent;color:$primary-web;padding:0;font-weight:$font-weight-bold;text-transform: uppercase;height:auto;width:auto;position: static;}
            .do-list{
                & > li{
                   &:before{background:$primary-web;}
                }
            }
        }
    }
    .privacy-pg{
        .privacy-pg-sec{padding:0;}
        .txt-sec{
            .heading-3{padding:0;}
        }
    }
    .icons-box-desk{display: none;}
    .icons-box-mob{display: block;}
    .priv_mob_btm_sec{display:block;}
    .cmnty-gud-mob-btm-sec{display:block;}
    .faq-pg{
        .container{padding:0;}
        .container-inner{padding:0;}
        .accordion{
            // .card-header{border:0;}
           & > .card{border:1px solid $line-color;border-width:1px 0 0 0;border-radius:0;/*padding:size(7) size(15) size(10);*/padding:0;
            & > .card-header{background: transparent;padding:0;margin:0 0 -4px;
              .btn{position: relative;background-color: #fafafa;padding:7px 30px 12px 15px;transition: background-color 0.3s ease;
               &:after{content:"";width:size(18);height:size(18);display:inline-block;background: url('../images/chevron-down.svg') no-repeat 50% / 16px;position: absolute;right:size(10);top:size(4);transform:rotate(180deg);transition: all 0.3s ease;}
               &.collapsed{background-color:transparent;
                &:after{transform:rotate(0);}  
               }
             }
            }
            .collapse{padding:0 25px 15px 15px;transition: background-color 0.3s ease;
              &.show{background:#fafafa;}
            }
           }
           .collapse:not(.show){display:none;}
        }
        .faq-sec{padding:0 0 size(30);}
    }
    .faq-pg .faq-banner-img img{
        width:auto;
    }
}
@media(max-width:1000px){
    .home-carousel.owl-carousel .owl-nav button.owl-next, .home-carousel.owl-carousel .owl-nav button.owl-prev{
        height:90%;
    }
    .banner-sec .slide2 .slideimg2{
        left:size(120);
    }
    .inner-pg-content .inner-pg-txt p,.txt-sec p,.txt-sec .heading-3,.do-donot-sec .do-list > li,.do-donot-sec .txt-info p,.cols-bg p{
        font-size:size(20);
        line-height:1.5;
    }
    .library-sec .library-left .box-yellow p,.library-sec .library-right .box-yellow p,.shopping-sec .shopping-wrap .yellow-box ul.slist li,.inner-pg-content .btn-link,.faq-pg .accordion p,.faq-pg .accordion .btn-link,.privacy-pg .order-list-num > li,.privacy-pg .order-list-alpha.list-less-gap > li,.privacy-pg .order-list-alpha > li{
        font-size:size(16);
    }
    .faq-pg .faq-list{
        padding-left:size(24);
    }
    .faq-pg .faq-list > li,.faq-pg .order-list > li{
        font-size:size(16);
    }

}
@media(max-width:767px){
    .inner-pg-content .inner-pg-txt p,.txt-sec p,.txt-sec .heading-3,.do-donot-sec .do-list > li,.do-donot-sec .txt-info p,.cols-bg p,.inner-pg-content .btn-link,.faq-pg .accordion p,.faq-pg .accordion .btn-link,.faq-pg .order-list > li,.faq-pg .faq-list > li,.privacy-pg .order-list-num > li,.privacy-pg .order-list-alpha.list-less-gap > li,.privacy-pg .order-list-alpha > li{
        font-size:size(13);
        line-height:1.5;
    }
    .library-sec .library-left .box-yellow p,.library-sec .library-right .box-yellow p,.shopping-sec .shopping-wrap .yellow-box ul.slist li{
        font-size:size(11);
    }
    .banner-sec .slide2 .slideimg2{
        left:size(10);
    }
    .home-carousel.owl-carousel .owl-nav button.owl-next, .home-carousel.owl-carousel .owl-nav button.owl-prev {
        height: 82%;
    }
} 